
* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

/* Result Option */
.autocomplete .result-options-list {
  display: inline-block;
  vertical-align: middle;
}

.autocomplete .result-option {
  display: inline-block;
  margin: 5px;
  background: rgba(0,126,255,.08);
  border: 1px solid rgba(0,126,255,.40);
  color: #007eff;
  vertical-align: middle;
  overflow: hidden;
}

.autocomplete .result-option .result-delete {
  border-right: 1px solid rgba(0,126,255,.40);
  padding: 5px;
  cursor: pointer;
}
.autocomplete .result-option .result-label {
  padding: 5px;
  text-decoration: underline;
  cursor: pointer;
}

/* Text Input */
.autocomplete .text-input {
  /* background: black; */
  color: #000;
  font-size: 18px;
  padding-left: 5px;
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  border: 0;
  width: auto;
  margin: 5px;
  width: 40px;
}

.autocomplete .text-input:focus {
  outline-color: #fff;
}

/* AutoComplete Control */
.autocomplete .control {
  width: 400px;
  text-wrap: normal;
  background: #fff;
  border: 1px solid #d9d9d9;
}

/* AutoComplete Results List*/
.autocomplete .results-list {
  width: 400px;
  height: 200px;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #d9d9d9;
}

.autocomplete .result-list-item {
    padding: 10px;
    cursor: pointer;
}

.autocomplete .result-list-item:hover,
.autocomplete .result-list-item:focus {
  background: rgba(0,126,255,.08);
  color: #007eff;
  outline: none;
}
